<div id="primary">
    <div class="row">
        <div class="col-lg-12 post">
            <h1 class="entry-title">Tên bài viết</h1>
            <div class="below-entry-meta">
                <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="#" title="Hòa Phúc Thiện">Posted By: Hòa Phúc Thiện</a></span></span>
                <span class="comments"><a href="#"><i class="fa fa-comment"></i> 0 Comment</a></span>
            </div>
        </div>
    </div>
</div>