<div ng-controller="articleCtrl">
    <div class="row">
        <div class="col-lg-12 post">
            <h1 class="entry-title" ng-bind="artOrPro.ArtName"></h1>
            <div class="below-entry-meta">
                <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="#" title="Hòa Phúc Thiện">Posted By: {{artOrPro.Username}}</a></span></span>
                <span class="comments"><a href="#"><i class="fa fa-eye"></i>{{artOrPro.ViewCount}}</a></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive img-article" ng-src="{{artOrPro.Image}}" alt="{{artOrPro.ArtName}}" ng-if="artOrPro.Image !== '' && artOrPro.Image !== null" />                     
            <div ng-bind-html="trustAsHtml(artOrPro.Video)" ng-if="artOrPro.Video !== '' && artOrPro.Video !== null"></div>        
        </div>
        <div class="col-lg-6">
            <div ng-bind-html="trustAsHtml(artOrPro.ArtDescribes)">
        </div>        
    </div>
    <div class="row">
        <div class="col-lg-12" ng-bind-html="trustAsHtml(artOrPro.Content)">
            
        </div>
    </div>
    <div class="row">
        <h3 class="home-widget-title">Bài viết liên quan</h3>
        <div class="primary-widget">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product" ng-repeat="item in artOrPro.RelatedPost track by $index">
                <a ng-href="{{item.ArtMeta}}">
                    <div class="thumbnail">
                        <div class="thumbnail-item">
                            <img class="img-responsive" ng-src="{{item.Image}}" alt="{{item.ArtName}}" ng-if="item.Image !== '' && item.Image !== null">
                            <div class="home-video" ng-bind-html="trustAsHtml(item.Video)" ng-if="item.Video !== '' && item.Video !== null"></div>
                            <div class="caption">
                                <h5 ng-bind="item.ArtName"></h5>                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>