<div id="primary">
    <div class="row">
        <div class="col-lg-12 post">
            <h2 class="entry-title">
                <a href="#" title="Ten bai viet">Tên bài viết</a>
            </h2>
            <div class="below-entry-meta">
                <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="#" title="Hòa Phúc Thiện">Posted By: Hòa Phúc Thiện</a></span></span>
                <span class="comments"><a href="#"><i class="fa fa-comment"></i> 0 Comment</a></span>
            </div>
            <a class="more-link" title="how to write a term paper which has example paperwork term paper file format | raymond hames, educator college or university" href="http://ototaihyundai.net/how-to-write-a-term-paper-which-has-example-3/"><span>Read more</span></a>
        </div>
    </div>
</div>