<div ng-controller="homeCtrl">
    <div class="row home-widget-row" ng-repeat="widget in $root.listWidgets track by $index" ng-if="widget.Area === 'body'">
        <h3 class="home-widget-title" ng-bind="widget.Title"></h3>
        <div class="primary-widget">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product" ng-repeat="item in widget.artList track by $index">
                <a ng-href="{{item.ArtMeta}}">
                    <div class="thumbnail">
                        <img class="img-responsive" ng-src="{{item.Image}}" alt="{{item.ArtName}}" ng-if="item.Image !== '' && item.Image !== null">
                        <div class="home-video" ng-bind-html="trustAsHtml(item.Video)" ng-if="item.Video !== '' && item.Video !== null"></div>
                        <div class="caption">
                            <h5 ng-bind="item.ArtName"></h5>                             
                            <span class="price" ng-if="item.Price === '0'">Giá cả: Liên hệ</span>                            
                            <span class="price" ng-if="item.Price !== '0'">Giá cả: {{item.Price}}</span>                              
                        </div>
                    </div>
                </a>
            </div>
        </div>             
    </div>
    <div class="row">
       <h3 class="home-widget-title">Sản phẩm nổi bật</h3>
        <div class="primary-widget">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product" dir-paginate="item in featuredProducts | itemsPerPage: 4 track by $index" pagination-id="paginationProduct">
                <a ng-href="{{item.ArtMeta}}">
                    <div class="thumbnail">
                        <img class="img-responsive" ng-src="{{item.Image}}" alt="{{item.ArtName}}" ng-if="item.Image !== '' && item.Image !== null">
                        <div class="home-video" ng-bind-html="trustAsHtml(item.Video)" ng-if="item.Video !== '' && item.Video !== null"></div>
                        <div class="caption">
                            <h5 ng-bind="item.ArtName"></h5>
                            <span class="price" ng-if="item.Price === '0'">Giá cả: Liên hệ</span>                            
                            <span class="price" ng-if="item.Price !== '0'">Giá cả: {{item.Price}}</span> 
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="center">
            <dir-pagination-controls class="center" pagination-id="paginationProduct" max-size="5" boundary-links="false"></dir-pagination-controls>
        </div> 
    </div>
</div>