<div id="primary">
    <h3>Sản phẩm mới</h3>
    <div class="primary-widget">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product">
            <a href="#">
                <div class="thumbnail">
                    <img class="img-responsive" src="assets/client/img/benyc1.jpg" alt="...">
                    <div class="caption">
                        <h5>xe tải hyundai 1T, hyundai H100, hyundai 990kg</h5>
                        <p>Giá cả: Liên hệ</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>