<div ng-controller="templateCtrl">
    <span ng-if="itemList.length != 0">
        <h3>{{itemList[0].CatName}}</h3>
    </span>
    <div class="primary-widget" >
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product" ng-repeat="item in itemList">
            <a href="{{item.ArtMeta}}">
                <div class="thumbnail">
                    <div class="thumbnail-item">
                        <img class="img-responsive" src="{{item.Image}}" alt="...">
                        <div class="caption">
                            <h5>{{item.ArtName}}</h5>
                            <p>Giá cả: {{item.Price}}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>