<div ng-controller="searchCtrl">
    <section ng-if="$root.searchResult.length === 0" class="no-results not-found">
        <header class="page-header">
            <h1 class="page-title">Không có dữ liệu tìm thấy</h1>
        </header>
        <div class="page-content">
            <p>Xin lỗi, không có gì phù hợp với điều kiện tìm kiếm của bạn. Vui lòng thử lại với một số từ khóa khác.</p>
            <form role="search" ng-submit="$root.search()" class="searchform">
                <input type="text" placeholder="Nhập thông tin tìm kiếm" class="search-field" ng-model="$root.searchText" name="s">
                <button class="searchsubmit" name="submit" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </section>
    <section ng-if="$root.searchResult.length !== 0" class="no-results not-found">
        <header class="page-header">
            <h1 class="page-title">Kết quả tìm kiếm</h1>
        </header>
        <div class="page-content">
            <div class="col-lg-12">
<!--
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <img ng-src="{{item.Image}}" alt="{{item.ArtName}}">                    
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
-->
                     <ul class="item-list">
                        <li ng-repeat="art in $root.searchResult track by $index">                            
                            <a class="row" ng-href="{{art.Alias}}">
                                <div class="col-md-4">
                                    <img class="img-responsive" ng-src="{{art.Image}}" title="{{art.Name}}" alt="{{art.Name}}" ng-if="art.Image !== '' && art.Image !== null">                                 
                                </div>
                                <div class="col-md-8">                                               
                                    <span class="cat-name" ng-bind="art.Name"></span>
                                </div>
                            </a>
                        </li>
                    </ul>                    
<!--                </div>-->
            </div>
        </div>
    </section>
</div>