<!--
<section ng-if="searchResult === null" class="no-results not-found">
    <header class="page-header">
        <h1 class="page-title">Không có dữ liệu tìm thấy</h1>
    </header>
    <div class="page-content">
        <p>Xin lỗi, không có gì phù hợp với điều kiện tìm kiếm của bạn. Vui lòng thử lại với một số từ khóa khác.</p>
        <form role="search" ng-submit="$root.search()" class="searchform">
            <input type="text" placeholder="Nhập thông tin tìm kiếm" class="search-field" ng-model="$root.searchText" name="s">
            <button class="searchsubmit" name="submit" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</section>
<section ng-if="searchResult !== null" class="no-results not-found">
    <header class="page-header">
        <h1 class="page-title">Kết quả tìm kiếm</h1>
    </header>
    <div class="page-content">
        <div class="col-lg-12" ng-repeat="item in searchResult track by $index">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img src="" alt="">
            </div>
        </div>
    </div>
</section>-->