<div ng-controller="searchCtrl">
    <section ng-if="$root.searchResult.length === 0" class="no-results not-found">
        <header class="page-header">
            <h1 class="page-title">Không có dữ liệu tìm thấy</h1>
        </header>
        <div class="page-content">
            <p>Xin lỗi, không có gì phù hợp với điều kiện tìm kiếm của bạn. Vui lòng thử lại với một số từ khóa khác.</p>
            <form role="search" ng-submit="$root.search()" class="searchform">
                <input type="text" placeholder="Nhập thông tin tìm kiếm" class="search-field" ng-model="$root.searchText" name="s">
                <button class="searchsubmit" name="submit" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </section>
    <section ng-if="$root.searchResult.length !== 0" class="no-results not-found">
        <header class="page-header">
            <h1 class="page-title">Kết quả tìm kiếm</h1>
        </header>
        <div class="page-content">
            <div class="col-lg-12">
                 <ul class="item-list">
                    <li dir-paginate="art in $root.searchResult | itemsPerPage: 10 track by $index" pagination-id="paginationSearchItems">                            
                        <a class="row" ng-href="{{art.Alias}}">
                            <div class="col-md-4">
                                <img class="img-responsive" ng-src="{{art.Image}}" title="{{art.Name}}" alt="{{art.Name}}" ng-if="art.Image !== '' && art.Image !== null">                                 
                            </div>
                            <div class="col-md-8">                                               
                                <span class="cat-name" ng-bind="art.Name"></span>
                            </div>
                        </a>
                    </li>
                </ul>                    
            </div>
            <div class="col-lg-12">
                <dir-pagination-controls pagination-id="paginationSearchItems" max-size="5" boundary-links="false"></dir-pagination-controls>
            </div>
        </div>
    </section>
</div>