<div class="wrapper wrapper-content animated fadeIn" ng-controller="serviceCtrl">    
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Danh sách dịch vụ</h5>
                </div>
                <div class="ibox-content">
                    <div class="">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="event.add()">Thêm mới dịch vụ</button>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <div id="editable_length" class="dataTables_length">
                                <label>
                                    <select class="form-control input-sm" aria-controls="editable" name="editable_length" ng-model="numberPage">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                    </select>
                                </label>
                                dòng trên mỗi trang
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="input-group">
                                <input type="text" placeholder="Tìm kiếm" class="input-sm form-control" ng-model="searchText" /> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> </span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="center">Ảnh</th>
                                    <th class="center">Tên</th>
                                    <th class="center">Mô tả</th>
                                    <th class="center">Ngôn ngữ</th>                                    
                                    <th class="center">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="item in $root.serviceList | filter:searchText | itemsPerPage: numberPage" pagination-id="filterService">
                                    <td class="center">
                                        <img class="img-responsive" ng-src="{{item.Image}}" />
                                    </td>
                                    <td class="center" ng-bind="item.Name"></td>
                                    <td class="center" ng-bind="item.Describes"></td>
                                    <td class="center" ng-bind="item.Language"></td>                                    
                                    <td class="center">
                                        <button class="btn btn-info padding-2" data-toggle="modal" data-target="#myModal" ng-click="event.edit(item)">
                                            <span class="fa fa-edit"></span>
                                        </button>
                                        <button class="btn btn-danger padding-2" data-toggle="modal" data-target="#delAlert" ng-click="event.getItem(item)">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row line-top">
                        <dir-pagination-controls class="right" pagination-id="filterService" max-size="numOfPage" boundary-links="true"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal inmodal in" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceIn">
                <form role="form" name="Form" ng-submit="event.submitForm()" novalidate>
                    <fieldset>
                        <div class="modal-header">
                            <i class="fa fa-thumbs-up modal-icon"></i>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" ng-bind="label.title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group center">
                                <label>Ảnh</label>
                                <div class="padding-formcontrol">
                                    <img class="img-responsive" id="img" ng-src="{{selectedService.Image}}" />
                                </div>
                                <div class="input-group">
                                    <input id="txt_url" class="form-control" placeholder="Đường dẫn ảnh" name="image" type="text" ng-model="selectedService.Image" disabled />
                                    <span class="input-group-btn">
                                        <button id="btnselectImage" class="btn btn-default btn-browser" type="button" ng-click="event.browserImg()">
                                           <span class="fa fa-folder"></span>
                                    </button>
                                    </span>
                                </div>                                
                            </div>
                            <div class="form-group" ng-class="{'has-error': Form.txtName.$invalid && Form.txtName.$touched && Form.txtName.$required}">
                                <label>Tên<span class="text-danger">&nbsp;(*)</span></label>
                                <input class="form-control" placeholder="Tên dịch vụ" name="txtName" type="text" ng-model="selectedService.Name" required /> 
                                <p class="text-danger" ng-show="Form.txtName.$invalid && Form.txtName.$touched && Form.txtName.$error.required">Vui lòng nhập tên.</p>                          
                            </div>                                                     
                            <div class="form-group">
                                <label>Mô tả</label>
                                <textarea class="form-control" rows="4" placeholder="Mô tả dịch vụ" name="txtDes" type="text" ng-model="selectedService.Describes"></textarea>  
                            </div>                            
                        </div>
                        <div class="modal-footer">
                            <p class="{{notice.class}}" ng-bind="notice.message"></p>
                            <button id="btnSubmit" type="submit" class="btn btn-primary" ng-disabled="Form.$invalid">Lưu</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content animated lightSpeedIn">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Xóa dịch vụ</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa dịch vụ này?
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-danger" ng-click="event.del()">Có</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>                    
                </div>
            </div>
        </div>
    </div>
</div>